<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/styles.css"/>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link rel="icon" href="/img/weather.png"/>
    <title>About</title>
</head>
<body>
    <div class="main-content about-main">
        {{>header}}
        <div class="about-portrait">
            <img class="portrait" src="img/me.jpg" alt="Photo"/>
        <div class="info-about">
            <h3 class="portrait-description">Hi, there! I'm from Buenos Aires, Argentina and I'm a Full-Stack Developer</h3>
            <h4><a href="https://solmartinezp.github.io/portfolio/" target="_blank">Check out more of my work by clicking here</a></h4>
        </div>
        </div>
    </div>

    {{>footer}}
</body>
</html>