<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/styles.css"/>
    <link rel="icon" href="/img/weather.png"/>
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <title>Weather</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>Use this site to get your weather</p>

        <form>
            <input type="text" placeholder="Location"/>
            <button>Search</button>
        </form>

        <p id="messageOne"></p>
        <p id="messageTwo"></p>

    </div>
    
    {{>footer}}
    <script src="js/script.js"></script>
</body>
</html>